body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
}

.main_header {
    margin-top: 4%;
    border: 1px solid black;    
    text-align: center;
    position: sticky;
    width: 100%;
}

.input_container {
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#visit_info {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#visit_info label,
#visit_info input {
    margin: 5px 0;
}

/* Start of quiz styling */
.quiz_container h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
}

#questionsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
}
#question1 h4,
#question2 h6, 
#question2 h4,
#question4 h6 {
    margin-top: 0;
}
#question4 h6 {
    margin-bottom: 0;
}

#question1,
#question2,
#question3,
#question4,
#question5,
#question6{
    border: 1px solid black;    
    width: 450px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px; 
    margin: 20px 0; 
    display: flex;
    flex-direction: column;  /* Updated this line */
    align-items: center;
    justify-content: center;
    text-align: center; 
}


#question3Form,
#question4Form,
#question5Form,
#question6Form {
    display: flex;
    flex-direction: column;  /* Added this line */
    align-items: center;
    justify-content: center;
    text-align: center; 
}

#question3Form label,
#question4Form label,
#question5Form label,
#question6Form label {
    margin: 5px 0;
}

.textbox-size {
    width: 300px; /* Set the desired width */
    height: 40px; /* Set the desired height */
    /* Add any other styles you want */
}


#results {
    text-align: center;
    margin-top: 20px; 
}

#button_cont {
    display: flex;
    align-items: center;
    justify-content: center;
}

#submitQuizButton {
    width: 150px;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#submitQuizButton:hover {
    background-color: #0056b3;
}

#correctResults {
    display: flex;
    align-items: center;
    justify-content: center;
}

#correctResultsButton {
    width: 150px;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#correctResultsButton:hover {
    background-color: #0056b3;
}

#answers {
    display: flex;
    align-items: center;
    justify-content: center;
}

.newQuestionButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 5%;
}

#addQuestionButton {
    width: 150px;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#addQuestionButton :hover{
    background-color: #0056b3;
}

#newQuestionForm {
    border-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;    


}

.dropdown {
    display: inline-block;
    position: relative;
}

#questionTypeOptions {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#questionTypeOptions button {
    display: block;
    width: 100%;
    text-align: left;
    padding: 8px;
    text-decoration: none;
    border: none;
    background-color: white;
    color: black;
    cursor: pointer;
}
