body {
    margin: 0;
    background-color:#2c3e50 ;
}

.portfolio_header{
    text-align: center;    
    color:  white;
}

.navbar-container{
background-color: #34495e;
height: 60px;
line-height: 60px;

}
.navbar {    
    text-align: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; /* creates a horizontal layout */
    justify-content: center;
    align-items: center
}

li {
    margin-right: 30px; 
}

a {
    text-decoration: none;
    color: white; 
}

a:hover {
    color: darkgrey; 
}

.home_main{
    display: flex;
    align-items: center;
    height: 100vh;
}

.home-text{
    margin-left: 80px;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}
.home-text h1 {
    color: #ffffff;
    font-size: 60px; 
    font-weight: bold; 
}
.home-text h2 {
    color: #cccccc;
    font-size: 40px;
    font-weight: italic;
}


.home-image{
    position: relative;
    margin-left: 250px;
}

.home-image::before {
    content: ""; /* Create an empty pseudo-element */
    position: absolute; /* Set the position to absolute to overlay on top of the image */
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    background: linear-gradient(to left, transparent, #2c3e50); 
    background-size: 100% 100%;  
    pointer-events: none; /* Ensure that the pseudo-element doesn't interfere with interactions */
}

.home-image img{   
    width: 500px;
    height: auto;
}